*{
  list-style-type: none;
  text-decoration: none;
}
body{
  margin:0;
  padding: 0;
  
}
/* nav */
.nav-block{
  background-color: rgb(68, 0, 255);
}
.nav-block,
.nav-block ul 
{
  display:flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}
.nav-block a,
.user_block{
 padding-left: 25px;
}
.nav-block a{
  color:black;
}

.col{
  text-align: center;
}

.col_block{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 
}
.col_block img{
   object-fit: cover;
   width: 350px;
   height: 300px;
}



/* გამონათქვამი */
.about_block{
  display: flex;
 justify-content: center;
 background-color: antiquewhite;
}

/* .text-block{
   margin-left: 15px;
} */
.about_block .text{
  width: 350px;
 
}